.fr-main-sign-up {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 100px auto;
  display: block;

  .fr-card {
    position: relative;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
    background-color: #ffffff;
    width: 392px;
    padding: 16px 32px;
    display: block;
  }

  .fr-logo {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 85px;
    height: 85px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .fr-heading {
    display: flex;
    width: 100%;
    padding: 48px 0 24px;
    text-align: center;

    .fr-heading-text {
      width: 100%;
    }
  }

  .fr-tabs {
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;

    .fr-tab {
      text-transform: none;
    }
  }

  .fr-sign-up-form {
    box-sizing: inherit;
    display: block;
    margin-top: 0em;

    .form-group {
      padding-bottom: 10px;
    }

    .fr-sign-up {
      text-align: center;
    }
  }

}
